#card-avFlights{
    border: 2px solid rgb(21, 21, 21, 0.5);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgb(232, 174, 0);
    border-radius: 20px;
}
#cardBody-avFlights{
    background-color: white;
}
#span1{
    color: goldenrod;
    text-shadow: 2px 2px 2px #000000;
}
#bookbtn{
    background-color: goldenrod;
    border-color: gold;
    border-radius: 10px;
    width: 10vh;
    color: rgb(246, 255, 190);
    font-size: 15px;
}
#title-avFlights{
    font-size: 60px;
}