.nav{
    margin: 0;
    padding: 0;
}
.navContainer{
    color: gainsboro;
    background-color: rgb(31, 29, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5vh 0vh 5vh;
    width: 100%;
    text-shadow: 2px 2px 2px #000000;
}
.PictureContainer{
    height: 40vh;
    background-image: url("/images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    padding-top: 10vh;
}
#Title1{
    color: gainsboro;
    font-size: 70px;
    text-shadow: 2px 2px 2px #000000;
}
#span1{
    color: goldenrod;
    text-shadow: 2px 2px 2px #000000;
}
#span2{
    color: goldenrod;
    text-shadow: 1px 1px 1px #000000;
}
#span3{
    color: goldenrod;
    text-shadow: 1px 1px 1px #000000;
}
#span4{
    color: goldenrod;
    text-shadow: 1px 1px 1px #000000;
}
label{
    color: goldenrod;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
}
input{
    border-radius: 100px;
    border-color: gold;
    border-width: 2px; 
}
.container{
    margin-top: -10vh;
}

#submit{
    background-color: goldenrod;
    border-color: gold;
    border-radius: 20px;
    width: 20vh;
    color: rgb(246, 255, 190)
}
.subContainer{
    margin-top: 1vh;
}
#check{
    border: rgb(210, 208, 208) solid;
    margin-top: 8px;
    margin-right: 10px;
}
#cardBody{
    background-color:rgb(235, 235, 235) ;
    
}