#nav-payment{
    margin: 0;
    padding: 0;
}
#navContainer-payment{
    color: gainsboro;
    background-color: rgb(31, 29, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5vh 0vh 5vh;
    width: 100%;
    text-shadow: 2px 2px 2px #000000;
}
#card-payment{
    border: 2px solid rgb(21, 21, 21, 0.5);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(11, 11, 10, 0.8);
    border-radius: 20px;
    margin-bottom: 5vh;
}
#context-payment{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: bold;
    text-shadow: 1px 1px 2px #f29d0059;
}
#Title1-payment{
    color: goldenrod;
    text-shadow: 2px 2px 2px #000000;
    font-size: 70px;
}
#span1-payment{
    color: goldenrod;
    text-shadow: 1px 2px 2px #000000;
    font-size: 20px;
}
#span2-payment{
    color: goldenrod;
    text-shadow: 1px 2px 2px #000000;
    font-size: 30px;
}
#promoCode{
    margin-left: 1vh;
    border: 2px solid rgb(21, 21, 21, 0.5);
    box-shadow: 0 0 5px rgba(11, 11, 10, 0.8);
}
#qr-payment{
    width: 30%;
    height: 30%;
}
#submit-payment{
    background-color: goldenrod;
    border-color: gold;
    border-radius: 15px;
    width: 20vh;
    color: rgb(246, 255, 190);
    font-size: 20px;
    margin-right: 1vh;
}
#skip-payment{
    background-color: goldenrod;
    border-color: gold;
    border-radius: 15px;
    width: 20vh;
    color: rgb(246, 255, 190);
    font-size: 20px;
    margin-right: 1vh;
}