.table-container {
  width:60%;
  margin: 5rem 2.5rem 0 2.5rem;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100%;
}

.table thead {
  background-color: #ccc;
  color: #222;
  width: 100%;
}

.table th,
.table td {
  padding: 0.8rem;
  overflow: hidden;
  text-align: center;
}

.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr:hover {
  background-color: #eee;
}

.expand {
  width: 100%;
}

.label {
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label-soon {
  background-color: #777;
}

.label-available {
  background-color: #42a942;
}

.label-low {
  background-color: #ffa500;
}

.label-cancelled {
  background-color: #F7D060;
}
.label-expired {
  background-color: #ff0000;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.actions svg {
  cursor: pointer;
}

.delete-btn {
  color: #e10d05;
}

/* Styles from user.css */
.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 25em;
}

.modal .btn {
  display: block;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
}

.form-group label {
  margin-bottom: 0.2rem;
}

.error {
  background-color: #f8d7da;
  color: #df4759;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}