.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
body {
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*overflow: hidden;  Hide scrollbars */
    
    
  }

.logLabel{
    margin-bottom: 20px;
    text-align: center;
}
.container-fluid {
  margin-top: 20px;
  width: 60%;
  
}
.col{
    background-color: aqua;
}

form{
    font-size: large;
    width: 420px;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
    color: rgb(57, 56, 56);
    border-radius: 20px;
}
#username{
    background: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}

#firstName{
    background: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
#middleName{
    background: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
#lastName{
    background: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
#mobileNumber{
    background: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
#birthDate{
    background: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
#email{
    background: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
#password{
    background: rgba(255, 255, 255, .6);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
.gender{
    padding: 0 15px;
    color: rgb(57, 56, 56);
    background: rgba(255, 255, 255, .4);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
#repeatPassword{
    background: rgba(255, 255, 255, .6);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(11, 10, 10, 0.2);
}
::placeholder { /* Most modern browsers support this now. */
    color:    #909;
 }
/*.wrapper{
  position: absolute;
  margin-top: 5px;
  width: 30%;
height:100%;
  background-color: rgba(255, 253, 253, 0.74) ;
  z-index: -1;
    margin-right: auto;
    margin-left: auto;
}
*/

.btn{
    background-color: goldenrod;
}
.btn:hover{
  background-color: rgb(124, 95, 22);
}
.form-control{
    border-radius: 15px;
}

input[type="radio"] {
  display: inline;
  margin-left: 10px;
}



